src/conf/xml-resources/web-service-references/WSAirport/wsdl/localhost_8080/AplicationWSAirport/WSAirport.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://WSServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WSServices/">

<xs:element name="ConstructMatrix" type="tns:ConstructMatrix"/>

<xs:element name="ConstructMatrixResponse" type="tns:ConstructMatrixResponse"/>

<xs:element name="GetGraphs" type="tns:GetGraphs"/>

<xs:element name="GetGraphsResponse" type="tns:GetGraphsResponse"/>

<xs:element name="InsertDestination" type="tns:InsertDestination"/>

<xs:element name="InsertDestinationResponse" type="tns:InsertDestinationResponse"/>

<xs:element name="InsertRoute" type="tns:InsertRoute"/>

<xs:element name="InsertRouteResponse" type="tns:InsertRouteResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="InsertDestination">
<xs:sequence>
<xs:element name="code" type="xs:int"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertDestinationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConstructMatrix">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ConstructMatrixResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetGraphs">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetGraphsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertRoute">
<xs:sequence>
<xs:element name="code1" type="xs:int"/>
<xs:element name="code2" type="xs:int"/>
<xs:element name="cost" type="xs:double"/>
<xs:element name="time" type="xs:int"/>
<xs:element name="pilot" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertRouteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>